.navItems {
  display: flex;
  gap: 30px;
}

.logo {
  width: 60px;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.navItems li {
list-style: none;

}

.navItems li a {
  text-decoration: none;
  color: black;
}
 
.icon {
  border-right: 1px solid black;
  padding-right: 25px;
}